* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
}

/* BACKGROUND */
.background-home {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/fundo01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* HEADER */
.header {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 10vh;
  /* background-color: #f9f9f9; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
  top: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.link-header {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
.chosen_link {
  color: #f55a00;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.link-header:hover {
  color: #1ac2ff;
}

.button-header {
  background: #006fb9;
  border-radius: 20px;
  width: 130px;
  height: 41px;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  color: #1ac2ff;
  background: #e4f5f9;
}

/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* 🔥 OVERLAY (ACRESCENTADO) */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 40, 0.95) 0%,
    rgba(10, 10, 40, 0.85) 50%,
    rgba(10, 10, 40, 0.6) 100%
  );
  z-index: 1;
}

/* CONTEÚDO */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 5vh auto;
  padding: 15vh 2vw 0;
  gap: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXTO ESQUERDA */
.hero-right {
  max-width: 550px;
  color: #fff;
}

.hero-tag {
  color: #f55a00;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
}

.hero-right h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-right p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 30px;
  padding: 14px 32px;
  background: #f55a00;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
}

/* IMAGEM DIREITA */
.hero-left img {
  max-height: 400px;
}
.about {
  padding: 40px 1px 40px 80px;
  display: inline-flex;
  width: 100%;
  height: 90vh;
}

.about_left {
  display: block;
  width: 50%;
  padding-left: 60px;
}
.about_right {
  width: 50%;
}
.about_img {
  width: 550px;
  height: 550px;
  margin-left: 15%;
  margin-top: 20px;
}
.about_retangulo_10 {
  position: absolute;
  background-image: url("./assets/fundo_gradiente.png");
  padding: 2em 2em 2em 2em;
  border-radius: 0 30px 0 30px;
  background-size: cover; /* ESSENCIAL */
  background-position: center;
  background-repeat: no-repeat;
}
h5 {
  display: flex;
  color: white;
  font-size: 35px;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}
h6 {
  display: flex;
  color: white;
  font-size: 15px;
}
h2 {
  font-size: 22px;
  line-height: 1.2;
  margin: 20px 0;
  font-weight: 500;
  color: #f55a00;
}
h3 {
  font-size: 39px;
  line-height: 1.2;
  margin: 20px 0;
  color: #006fb9;
}
h4 {
  font-size: 22px;
  line-height: 1.6;
  margin: 20px 0;
  font-weight: 400;
  color: #006fb9;
}
.about_icon {
  display: inline-flex;
}

.Bloco-Quadrados-Servicos {
  display: inline-flex;
  border-bottom: 1px solid #e1edf0; /* A cor que você já gosta */
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.9),
    /* Linha de brilho superior */ 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    /* Sombra suave principal */ 0 2px 4px -1px rgba(0, 0, 0, 0.03); /* Sombra de detalhe */
  justify-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Cria colunas automáticas */
  gap: 30px; /* Espaço entre os quadrados */
  padding: 8px 5px;
}

/* O Quadrado Individual (Card) */
.Quadrado-Servicos {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px; /* Bordas arredondadas da imagem */
  text-align: left; /* Alinhamento à esquerda conforme a foto */
  width: 200px; /* Largura fixa */
  height: 150px; /* Altura mínima para todos ficarem iguais */
  /* Sombra 3D Suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 1px solid #eee;
}

/* Efeito ao passar o mouse */
.Quadrado-Servicos:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Estilo do Ícone (O quadrado azul pequeno) */
.icone-servico {
  width: 50px;
  height: 50px;
  background-color: #00afef; /* Azul escuro da imagem */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: white;
}

/* Títulos dentro do card */
.Quadrado-Servicos h4 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

/* Texto descritivo */
.Quadrado-Servicos p {
  font-size: 12px;
  color: #777;
  line-height: 1.5;
  text-align: left; /* Garante que o texto não herde o center do body */
  padding: 0;
}

.conteiner-values {
  position: relative;
  display: inline-block;
  background-color: #006fb9;
  overflow: visible;
  margin-bottom: 20px;
  padding: 5px 0px 10px 0px;
  width: 100%;
  height: auto;
}
.sub-background {
  display: flex;
  z-index: 2;
}
.conteiner-values-top {
  display: block;
  width: 100%;
  padding-left: 60px;
  margin-bottom: 40px;
}
.conteiner-values-bottom {
  display: flex;
  width: 100%;
  flex: 1.5;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.values-dark-bg {
  color: white;
  width: 270px;
  padding: 10px;
  display: inline;
  gap: 10px;
  position: relative;
}

.values-dark-bg {
  z-index: 1;
}

.conteiner-values-top h2 {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 2px;
  font-weight: 700;
}

.values-dark-bg h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
}

.values-dark-bg p {
  font-size: 15px;
  line-height: 1.5;
}

.vision-mission-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 230px;
  margin: 0px 0 10px 0;
}

/* BLOCOS */
.bloco {
  position: relative;
  width: 480px;
  height: 220px;
  background-color: #e2ff9e; /* azul */
  transform: skewX(-10deg);
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 2; /* garante que aparece */
}

/* faixa verde atrás */
.bloco::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 90%;
  background-color: #006fb9;
  z-index: -1; /* fica atrás do azul */
}

/* conteúdo reto */
.conteudo {
  transform: skewX(10deg);
  text-align: center;
  color: #fff;
  padding: 5px 40px;
}

.conteudo h2 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 16px;
}

.conteudo p {
  font-size: 18px;
  line-height: 1.5;
}

/* MASCOTE */
.mascote-central {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}
.background-home02 {
  width: 100%;
  height: 78vh;
  background-image: url("./assets/img_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  opacity: 76%;
}

.stats-container {
  width: 100%;
  background: linear-gradient(180deg, #2cb4f3, #1992ca);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 31px 20px;
  box-sizing: border-box;
}

.stat {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #1c1c1c;
}

.stat .number {
  display: block;
  font-size: 56px;
  font-weight: 800;
}

.stat .label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

/* =========================
    MOBILE (até 768px)
  ========================= */
@media (max-width: 768px) {
  /* BACKGROUND */
  .header-right {
    display: none;
  }

  .background-home {
    height: auto;
  }

  .header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 2000;
    background: transparent;
  }

  .menu-toggle {
    display: flex !important; /* Força a aparição */
    position: relative;
    z-index: 2100; /* Um pouco acima do header */
  }
  .logo {
    height: 45px;
  }

  .header-right {
    gap: 12px;
  }

  .link-header,
  .chosen_link {
    font-size: 14px;
  }

  .button-header {
    width: 110px;
    height: 36px;
    font-size: 14px;
  }

  /* HERO */
  .hero {
    min-height: auto;
  }

  .hero-content {
    display: block;
    padding: 20px;
    margin-bottom: 32px;
    text-align: center;
  }

  /* TEXTO */
  .hero-right {
    max-width: 100%;
  }

  .hero-tag {
    font-size: 12px;
  }

  .hero-right h1 {
    font-size: 32px;
    line-height: 1.25;
  }

  .hero-right p {
    font-size: 15px;
    line-height: 1.6;
  }

  .hero-btn {
    width: 100%;
    max-width: 280px;
    margin: 24px auto 0;
    padding: 14px 0;
    border-radius: 25px;
  }

  /* IMAGEM */
  .hero-left img {
    max-height: 140px;
    width: 100%;
    object-fit: contain;
  }
  /* ======MOBILE=ABOUT=========*/
  .about {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    height: auto;
  }

  .about_left {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_right {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about_img {
    width: 100%; /* Ocupa toda a largura */
    max-height: 380px;
    aspect-ratio: 282 / 350;
    display: block;
    margin: 20px 0 0 0;
    object-fit: cover;
    margin-top: 30px;
  }
  .about_retangulo_10 {
    position: absolute;
    background-image: url("./assets/fundo_gradiente.png");
    padding: 1em 1em 1em 1em;
    border-radius: 0 30px 0 30px;
    background-size: cover; /* ESSENCIAL */
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
  }
  h5 {
    display: flex;
    color: white;
    font-size: 12px;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
  }
  h6 {
    display: flex;
    color: white;
    font-size: 10px;
  }
  h2 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #f55a00;
    display: block;
    width: 100%;
    white-space: nowrap; /* Impede que o texto quebre para a linha de baixo */
    text-align: justify; /* Alinhamento base */
  }
  h3 {
    font-size: 26px;
    line-height: 1.2;
    text-align-last: auto;
    color: #006fb9;
  }
  h4 {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #006fb9;
  }
  .about_icon {
    display: inline-flex;
  }

  .Bloco-Quadrados-Servicos {
    display: block;
    border-bottom: 1px solid #e1edf0;
    box-shadow:
      0 1px 0 rgba(255, 255, 255, 0.9),
      /* Linha de brilho superior */ 0 4px 6px -1px rgba(0, 0, 0, 0.05),
      /* Sombra suave principal */ 0 2px 4px -1px rgba(0, 0, 0, 0.03); /* Sombra de detalhe */
    justify-items: center;
    width: 90%;
  }

  .Quadrado-Servicos {
    display: flex;
    box-sizing: border-box;
    align-items: center; /* Centraliza o ícone e o texto verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo ao início (esquerda) */
    background-color: #fff;
    border-radius: 15px; /* Bordas arredondadas da imagem */
    text-align: left; /* Alinhamento à esquerda conforme a foto */
    width: 100%; /* Largura fixa */
    height: 80px; /* Altura mínima para todos ficarem iguais */
    /* Sombra 3D Suave */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    border: 2px solid #eee;
    margin-bottom: 5px;
    gap: 20px;
  }

  /* Efeito ao passar o mouse */
  .Quadrado-Servicos:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  }

  /* Estilo do Ícone (O quadrado azul pequeno) */
  .icone-servico {
    width: 39px;
    height: 39px;
    background-color: #00afef; /* Azul escuro da imagem */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 12px;
    color: white;
  }

  /* Títulos dentro do card */
  .Quadrado-Servicos h4 {
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
  }

  /* Texto descritivo */
  .Quadrado-Servicos p {
    font-size: 12px;
    color: #777;
    line-height: 1.5;
    text-align: left; /* Garante que o texto não herde o center do body */
    padding: 0;
  }

  .conteiner-values {
    padding: 10px 10px 24px 10px;
  }

  .sub-background {
    flex-direction: column;
  }

  .conteiner-values-top {
    padding-left: 0;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
  }

  .conteiner-values-top h2 {
    position: static;
    font-size: 20px;
    margin: 0 0 21px 0;
  }

  .conteiner-values-bottom {
    display: block;
    padding: 0;
    gap: 10px;
  }

  .values-dark-bg {
    padding: 8px 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .values-dark-bg h3 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .values-dark-bg p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .vision-mission-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 20px 10px 20px;
    gap: 0;
  }

  .bloco {
    width: 100%;
    max-width: 360px;
    height: auto;
    transform: skewX(-6deg);
    padding: 13px 0;
  }

  .bloco::before {
    top: 8px;
    height: 95%;
  }

  .conteudo {
    transform: skewX(6deg);
    padding: 0px 10px 0px 10px;
  }

  .conteudo h2 {
    font-size: 22px;
    margin: 0 0 5px 0;
    text-align: center;
  }

  .conteudo p {
    font-size: 14px;
    line-height: 1.5;
  }

  .mascote-central {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 120px;
    margin: -10px 0;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
  }
}
/* =========================
    MENU MOBILE
  ========================= */

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}

/* MENU MOBILE */
.menu-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  background: rgba(10, 10, 40, 0.98);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 100px 30px;
  transition: right 0.3s ease;
  z-index: 1050;
}

.menu-mobile a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.menu-mobile button {
  margin-top: 0;
}

/* MENU ABERTO */
.menu-mobile.active {
  right: 0;
}
