* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* BACKGROUND */
.background-home {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/fundo01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* HEADER */
.header {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 10vh;
  /* background-color: #f9f9f9; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
  top: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.link-header {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
.chosen_link {
  color: #c7ff00;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.link-header:hover {
  color: #1ac2ff;
}

.button-header {
  background: #006fb9;
  border-radius: 20px;
  width: 130px;
  height: 41px;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  color: #000;
  background: #c7ff00;
  font-weight: 500;
}

/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* 🔥 OVERLAY (ACRESCENTADO) */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 40, 0.95) 0%,
    rgba(10, 10, 40, 0.85) 50%,
    rgba(10, 10, 40, 0.6) 100%
  );
  z-index: 1;
}

/* CONTEÚDO */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 5vh auto;
  padding: 15vh 2vw 0;
  gap: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXTO ESQUERDA */
.hero-right {
  max-width: 550px;
  color: #fff;
}

.hero-tag {
  color: #f55a00;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
}

.hero-right h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-right p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 30px;
  padding: 14px 32px;
  background: #c7ff00;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
}

.hero-btn:hover {
  color: white;
  background: #006fb9;
  font-weight: 500;
}

/* IMAGEM DIREITA */
.hero-left img {
  max-height: 400px;
}
.about {
  padding: 40px 1px 40px 80px;
  display: inline-flex;
  width: 100%;
  height: 90vh;
}

.about_left {
  display: block;
  width: 50%;
  padding-left: 60px;
}
.about_right {
  width: 50%;
}
.about_img {
  width: 550px;
  height: 550px;
  margin-left: 15%;
  margin-top: 20px;
}
.about_retangulo_10 {
  position: absolute;
  background-image: url("./assets/fundo_gradiente.png");
  padding: 2em 2em 2em 2em;
  border-radius: 0 30px 0 30px;
  background-size: cover; /* ESSENCIAL */
  background-position: center;
  background-repeat: no-repeat;
}
h5 {
  display: flex;
  color: white;
  font-size: 35px;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}
h6 {
  display: flex;
  color: white;
  font-size: 15px;
}
h2 {
  font-size: 22px;
  line-height: 1.2;
  margin: 20px 0;
  font-weight: 500;
  color: #f55a00;
}
h3 {
  font-size: 39px;
  line-height: 1.2;
  margin: 20px 0;
  color: #006fb9;
}
h4 {
  font-size: 22px;
  line-height: 1.6;
  margin: 20px 0;
  font-weight: 400;
  color: #006fb9;
}
.about_icon {
  display: inline-flex;
}

.Bloco-Quadrados-Servicos {
  display: inline-flex;
  border-bottom: 1px solid #e1edf0; /* A cor que você já gosta */
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.9),
    /* Linha de brilho superior */ 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    /* Sombra suave principal */ 0 2px 4px -1px rgba(0, 0, 0, 0.03); /* Sombra de detalhe */
  justify-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Cria colunas automáticas */
  gap: 30px; /* Espaço entre os quadrados */
  padding: 8px 5px;
}

/* O Quadrado Individual (Card) */
.Quadrado-Servicos {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px; /* Bordas arredondadas da imagem */
  text-align: left; /* Alinhamento à esquerda conforme a foto */
  width: 200px; /* Largura fixa */
  height: 150px; /* Altura mínima para todos ficarem iguais */
  /* Sombra 3D Suave */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 1px solid #eee;
}

/* Efeito ao passar o mouse */
.Quadrado-Servicos:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Estilo do Ícone (O quadrado azul pequeno) */
.icone-servico {
  width: 50px;
  height: 50px;
  background-color: #00afef; /* Azul escuro da imagem */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: white;
}

/* Títulos dentro do card */
.Quadrado-Servicos h4 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

/* Texto descritivo */
.Quadrado-Servicos p {
  font-size: 12px;
  color: #777;
  line-height: 1.5;
  text-align: left; /* Garante que o texto não herde o center do body */
  padding: 0;
}

.conteiner-values {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #006fb9, #1992ca, #006fb9);
  overflow: visible;
  padding: 5px 0px 10px 0px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.sub-background {
  display: flex;
  z-index: 2;
}
.conteiner-values-top {
  display: block;
  width: 100%;
  padding-left: 60px;
  margin-bottom: 40px;
}
.conteiner-values-bottom {
  display: flex;
  width: 100%;
  flex: 1.5;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.values-dark-bg {
  color: white;
  width: 270px;
  padding: 10px;
  display: inline;
  gap: 10px;
  position: relative;
}

.values-dark-bg {
  z-index: 1;
}

.conteiner-values-top h2 {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 2px;
  font-weight: 700;
}

.values-dark-bg h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
}

.values-dark-bg p {
  font-size: 15px;
  line-height: 1.5;
}

.vision-mission-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 230px;
  margin: 0px 0 10px 0;
}

/* BLOCOS */
.bloco {
  position: relative;
  width: 480px;
  height: 220px;
  background-color: #e2ff9e; /* azul */
  transform: skewX(-10deg);
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 2; /* garante que aparece */
}

/* faixa verde atrás */
.bloco::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 90%;
  background: linear-gradient(270deg, #006fb9, #1992ca, #006fb9);
  background-size: 800% 800%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1; /* fica atrás do azul */
}

/* conteúdo reto */
.conteudo {
  transform: skewX(10deg);
  text-align: center;
  color: #fff;
  padding: 5px 40px;
}

.conteudo h2 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 16px;
}

.conteudo p {
  font-size: 18px;
  line-height: 1.5;
}

/* MASCOTE */
.mascote-central {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}

.stats-container {
  width: 100%;
  background: linear-gradient(180deg, #006fb9, #1992ca, #006fb9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 31px 20px;
  box-sizing: border-box;
}

.stat {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 59px;
  font-weight: bold;
}

.stat .number {
  display: block;
  font-size: 56px;
  font-weight: 800;
}

.stat .label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.information-value {
  position: relative; /* ESSENCIAL */
  display: flex;
  width: 100%;
  min-height: 80vh; /* ou a altura que você quiser */
  overflow: hidden;
}

.background-home02 {
  position: absolute;
  inset: 0;
  background-image: url("./assets/img_02.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 602px;
}

.hero-information {
  position: relative;
  z-index: 2;
  color: #fff;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 20px;
  text-align: center;
}

/* TÍTULO PRINCIPAL */
.hero-information h1 {
  font-size: clamp(32px, 4vw, 52px);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* TEXTO DE APOIO */
.hero-information p {
  font-size: clamp(16px, 1.5vw, 20px);
  line-height: 1.6;
  max-width: 720px;
  margin: 0 auto 40px auto;
  opacity: 0.95;
}

/* BOTÃO */
.hero-information button {
  background: #c7ff00;
  color: #000;
  border: none;
  padding: 14px 36px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* HOVER DO BOTÃO */
.hero-information button:hover {
  color: white;
  background: #006fb9;
  transform: translateY(-2px);
}

/* Outra Pagina*/

/* CONTAINER PAI */
.conteiner-cadastro {
  display: flex;
  flex-direction: row; /* Alinha lado a lado, não um em cima do outro */
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Evita scrolls estranhos */
}

/* LADO ESQUERDO (IMAGEM) */
.conteiner-cadastro-left {
  height: 100vh;
  width: 50%; /* Ocupa metade da tela */
  background-color: #f0f0f0; /* Caso a imagem falhe */
}

.img-cadastro {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem preencher o espaço sem distorcer */
}

/* LADO DIREITO (FORMULÁRIO) */
.conteiner-cadastro-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Ocupa a outra metade da tela */
  height: 100vh;
  padding: 20px;
  background-color: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto; /* Permite scroll apenas no form se a tela for pequena */
}

.conteiner-cadastro-left {
  height: 100vh;
  width: 50%;
}

:root {
  --primary-blue: #00afef;
  --text-gray: #777;
  --border-gray: #ddd;
  --bg-white: #ffffff;
}

.form-wrapper {
  background: var(--bg-white);
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  width: 100%;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  height: 20px;
}

.logo span {
  color: #00afef;
}

.form-header h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 5px;
}

.form-header p {
  font-size: 14px;
  color: var(--text-gray);
}

/* Inputs e Grid */
.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.input-box small {
  font-size: 11px;
  color: #999;
  margin-top: 4px;
  display: block;
}
.input-box input:focus {
  border-color: #c7ff00;
  outline: none;
  box-shadow: 0 0 0 2px rgba(199, 255, 0, 0.25);
}
input[type="checkbox"] {
  accent-color: #c7ff00;
}
input[type="radio"] {
  accent-color: #c7ff00;
  cursor: pointer;
}
/* Radio Buttons */
.radio-group {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

.radio-group label {
  font-size: 14px;
  color: var(--text-gray);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.doc-type span {
  font-size: 12px;
  color: var(--primary-blue);
  display: block;
  margin-bottom: 5px;
}

/* Checkbox e Botão */
.terms-box {
  margin: 20px 0;
  font-size: 13px;
  color: #555;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.terms-box a {
  color: var(--primary-blue);
  text-decoration: none;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background-color: #c7ff00;
  color: #000;
}

.footer-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.footer-link a {
  color: var(--primary-blue);
  text-decoration: none;
}

/* Personalização do Calendário Flatpickr */
.flatpickr-calendar {
  border-radius: 12px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #eee !important;
  font-family: "Montserrat", sans-serif !important;
}

.flatpickr-months {
  background: #1ac2ff !important;
  border-radius: 12px 12px 0 0 !important;
}

.flatpickr-current-month,
.flatpickr-month {
  color: white !important;
  fill: white !important;
}

.flatpickr-day.selected {
  background: #28a745 !important;
  border-color: #28a745 !important;
}

.flatpickr-day:hover {
  background: #e0f7ff !important;
}
.btn-back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00afef;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 10px;
  transition: all 0.2s;
  width: fit-content;
  margin-right: auto;
}

.btn-back:hover {
  transform: translateX(-5px);
  color: #008cc0;
}

/* ========================= */
/* BLOCO CALCULADORA HORAS  */
/* ========================= */

.conteiner-calculo {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-calculo {
  position: relative;
  width: 670px;
  background: #000000cc;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.titulo-calculo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo-calculo h1 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}

.icone-calculo {
  font-size: 22px;
  color: white;
}

.subtitulo-calculo {
  margin-top: 6px;
  color: #ffffff;
  font-size: 14px;
}

.inputs-calculo {
  display: flex;
  gap: 24px;
  margin-top: 25px;
  color: #ffffff;
}

.campo-calculo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo-calculo label {
  font-size: 14px;
  font-weight: 600;
}

.input-box-calculo {
  background: #f3f4f6;
  border-radius: 10px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}

.input-box-calculo input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
}

.input-box-calculo:focus-within {
  border-color: #41f5ff;
  box-shadow: 0 0 0 2px rgb(51, 222, 249);
}
.input-box-calculo span {
  color: #6b7280;
  font-size: 14px;
}

hr {
  margin: 28px 0 20px;
  border: none;
  height: 1px;
  background: #e5e7eb;
}

.exemplos-calculo {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.botoes-calculo {
  display: flex;
  gap: 14px;
}

.botoes-calculo button {
  color: white;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #2196f3f0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.botoes-calculo button:hover {
  background: #e2e4e8;
  color: #000;
}
.btn-back-calculo {
  display: none;
}
.logo-card {
  position: relative;
  background: #000;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px auto 0 auto;
}
.logo-card img {
  max-height: 80px; /* ajusta o tamanho da logo */
  width: auto;
}

#particles-js {
  position: fixed; /* Fixa na tela toda */
  width: 100%;
  height: 100%;
  background-color: #000000; /* Cor de fundo escura igual à imagem */
  z-index: -1; /* Garante que fique atrás de tudo */
  top: 0;
  left: 0;
  display: block !important;
}

/* =========================
    MOBILE (até 768px)
  ========================= */
@media (max-width: 768px) {
  body {
    min-height: 100vh;
    display: block;
    overflow-x: hidden;
  }

  /* BACKGROUND */
  .header-right {
    display: none;
  }

  .background-home {
    height: auto;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 28px;
    z-index: 2000;
    background: transparent;
  }

  .menu-toggle {
    display: flex !important; /* Força a aparição */
    position: relative;
    z-index: 2100; /* Um pouco acima do header */
  }
  .logo {
    height: 45px;
  }

  .header-right {
    gap: 12px;
  }

  .link-header,
  .chosen_link {
    font-size: 14px;
  }

  .button-header {
    width: 110px;
    height: 36px;
    font-size: 14px;
  }

  /* HERO */
  .hero {
    min-height: auto;
  }

  .hero-content {
    display: block;
    padding: 30px 32px 30px 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  /* TEXTO */
  .hero-right {
    max-width: 100%;
  }

  .hero-tag {
    font-size: 12px;
  }

  .hero-right h1 {
    font-size: 32px;
    line-height: 1.25;
  }

  .hero-right p {
    font-size: 15px;
    line-height: 1.6;
  }

  .hero-btn {
    width: 100%;
    max-width: 280px;
    margin: 24px auto 0;
    padding: 14px 0;
    border-radius: 25px;
    background-color: #c7ff00;
  }

  /* IMAGEM */
  .hero-left img {
    max-height: 140px;
    width: 100%;
    object-fit: contain;
  }
  /* ======MOBILE=ABOUT=========*/
  .about {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    height: auto;
  }

  .about_left {
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 23px;
  }
  .about_right {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about_img {
    width: 100%; /* Ocupa toda a largura */
    max-height: 380px;
    aspect-ratio: 282 / 350;
    display: block;
    margin: 20px 0 0 0;
    object-fit: cover;
    margin-top: 30px;
  }
  .about_retangulo_10 {
    position: absolute;
    background-image: url("./assets/fundo_gradiente.png");
    padding: 1em 1em 1em 1em;
    border-radius: 0 30px 0 30px;
    background-size: cover; /* ESSENCIAL */
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
  }
  h5 {
    display: flex;
    color: white;
    font-size: 12px;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
  }
  h6 {
    display: flex;
    color: white;
    font-size: 10px;
  }
  h2 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #f55a00;
    display: block;
    width: 100%;
    white-space: nowrap; /* Impede que o texto quebre para a linha de baixo */
    text-align: justify; /* Alinhamento base */
  }
  h3 {
    font-size: 26px;
    line-height: 1.2;
    text-align-last: auto;
    color: #006fb9;
  }
  h4 {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #006fb9;
  }
  .about_icon {
    display: inline-flex;
  }

  .Bloco-Quadrados-Servicos {
    display: block;
    border-bottom: 1px solid #e1edf0;
    box-shadow:
      0 1px 0 rgba(255, 255, 255, 0.9),
      /* Linha de brilho superior */ 0 4px 6px -1px rgba(0, 0, 0, 0.05),
      /* Sombra suave principal */ 0 2px 4px -1px rgba(0, 0, 0, 0.03); /* Sombra de detalhe */
    justify-items: center;
    width: 90%;
  }

  .Quadrado-Servicos {
    display: flex;
    box-sizing: border-box;
    align-items: center; /* Centraliza o ícone e o texto verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo ao início (esquerda) */
    background-color: #fff;
    border-radius: 15px; /* Bordas arredondadas da imagem */
    text-align: left; /* Alinhamento à esquerda conforme a foto */
    width: 100%; /* Largura fixa */
    height: 80px; /* Altura mínima para todos ficarem iguais */
    /* Sombra 3D Suave */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    border: 2px solid #eee;
    margin-bottom: 5px;
    gap: 20px;
  }

  /* Efeito ao passar o mouse */
  .Quadrado-Servicos:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  }

  /* Estilo do Ícone (O quadrado azul pequeno) */
  .icone-servico {
    width: 39px;
    height: 39px;
    background-color: #00afef; /* Azul escuro da imagem */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 12px;
    color: white;
  }

  /* Títulos dentro do card */
  .Quadrado-Servicos h4 {
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
  }

  /* Texto descritivo */
  .Quadrado-Servicos p {
    font-size: 12px;
    color: #777;
    line-height: 1.5;
    text-align: left; /* Garante que o texto não herde o center do body */
    padding: 0;
  }

  .conteiner-values {
    padding: 23px 26px 20px 26px;
    margin: 0;
  }

  .sub-background {
    flex-direction: column;
  }

  .conteiner-values-top {
    padding-left: 0;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
  }

  .conteiner-values-top h2 {
    position: static;
    font-size: 20px;
    margin: 0 0 21px 0;
  }

  .conteiner-values-bottom {
    display: block;
    padding: 0;
    gap: 10px;
  }

  .values-dark-bg {
    padding: 8px 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .values-dark-bg h3 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .values-dark-bg p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .vision-mission-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 32px 10px 32px;
    gap: 0;
  }

  .bloco {
    width: 100%;
    max-width: 360px;
    height: auto;
    transform: skewX(-6deg);
    padding: 13px 0;
    background-color: #c7ff00b3;
  }

  .bloco::before {
    top: 8px;
    height: 89%;
  }

  .conteudo {
    transform: skewX(6deg);
    padding: 10px;
  }

  .conteudo h2 {
    font-size: 22px;
    margin: 0 0 5px 0;
    text-align: center;
  }

  .conteudo p {
    font-size: 14px;
    line-height: 1.5;
  }

  .mascote-central {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 120px;
    margin: -10px 0;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
  }

  /* HERO */
  .information-value {
    min-height: 78vh;
  }

  .background-home02 {
    height: 100%;
    background-position: center top;
  }

  .hero-information {
    padding: 40px 32px 0 32px;
    max-width: 100%;
    text-align: center;
  }

  .hero-information h1 {
    font-size: 28px;
    line-height: 1.25;
  }

  .hero-information p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 60%;
  }

  .hero-information button {
    background-color: #006fb994;
    color: white;
    width: 100%;
    max-width: 280px;
    padding: 14px 0;
    font-size: 13px;
    letter-spacing: 1.5px;
  }

  /* STATS */

  .stat {
    text-align: center;
    color: #ffffff;
    font-size: 29px;
    font-weight: bold;
  }
  .stats-container {
    display: grid;
    gap: 15px;
    padding: 10px 0 17px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .stat .number {
    font-size: 40px;
  }

  .stat .label {
    font-size: 14px;
  }

  /* Container principal vira coluna */
  .conteiner-cadastro {
    flex-direction: column;
    height: auto;
  }

  /* Remove lado da imagem */
  .conteiner-cadastro-left {
    display: none;
  }

  /* Formulário ocupa tudo */
  .conteiner-cadastro-right {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
  }

  /* Caixa do formulário */
  .form-wrapper {
    max-width: 100%;
    padding: 22px;
    border-radius: 10px;
  }

  /* Grid vira coluna */
  .input-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  /* Radios em coluna */
  .radio-group {
    flex-direction: row;
    gap: 26px;
  }

  /* Botão maior */
  .btn-submit {
    padding: 16px;
    font-size: 15px;
  }

  /* Textos */
  .form-header h2 {
    font-size: 17px;
    text-align: center; /* Isso centraliza o texto e o emoji */
    width: 100%; /* Garante que ele ocupe a largura total */
  }

  .form-header p {
    font-size: 14px;
  }

  /* Links */
  .footer-link {
    font-size: 13px;
  }

  .conteiner-calculo {
    margin-top: 3px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteiner-calculo h1 {
    text-align: center;
  }
  .inputs-calculo {
    display: flex;
    gap: 24px;
    margin-top: 25px;
    flex-direction: column;
  }
  .card-calculo {
    width: 670px;
    background: #00000091;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 0 1px #e6e6e6;
    margin: 9px;
  }
  .botoes-calculo {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }
  .logo-card {
    height: 80px;
    bottom: 10px;
  }
}
/* =========================
    MENU MOBILE
  ========================= */

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}

/* MENU MOBILE */
.menu-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  background: rgba(10, 10, 40, 0.98);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 100px 30px;
  transition: right 0.3s ease;
  z-index: 1050;
}

.menu-mobile a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.menu-mobile button {
  margin-top: 0;
}

/* MENU ABERTO */
.menu-mobile.active {
  right: 0;
}
