#particles-js {
  position: fixed; /* Fixa na tela toda */
  width: 100%;
  height: 100%;
  background-color: #d7fcff; /* Cor de fundo escura igual à imagem */
  z-index: -1; /* Garante que fique atrás de tudo */
  top: 0;
  left: 0;
}
